@font-face {
    font-family: 'SanFrancisco';
    src: url('fonts/SF-Pro/SF-Pro-Text-Light.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'SanFrancisco';
    src: url('fonts/SF-Pro/SF-Pro-Text-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'SanFrancisco';
    src: url('fonts/SF-Pro/SF-Pro-Text-Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'SanFrancisco';
    src: url('fonts/SF-Pro/SF-Pro-Text-Semibold.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'SanFrancisco';
    src: url('fonts/SF-Pro/SF-Pro-Text-Bold.otf');
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'SanFrancisco', sans-serif;
    font-weight: 590;
}

textarea {
    font-family: 'SanFrancisco', sans-serif;

}

button {
    cursor: pointer;
}

.section {
    width: 1260px;
    margin: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

header h2 {
    font-size: 20px;
    color: rgba(48, 48, 48, 1);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-buttons {
    display: flex;
    align-items: center;
    gap: 24px;
}

.login {
    border-radius: 8px;
    border: 2px solid transparent;
    background: transparent;
    color: rgba(48, 48, 48, 1);
    padding: 9px 14px;
    font-size: 16px;
    position: relative;
}

.login::before {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: 8px;
    background: linear-gradient(90deg, #836AD4 0%, #7258C6 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.purple-button {
    width: fit-content;
    background: linear-gradient(90deg, #836AD4 0%, #7258C6 100%);
    font-weight: 700;
    color: #fff;
    border-radius: 8px;
    padding: 9px 14px;
    border: none;
    font-size: 16px;
    box-shadow: 0px 10px 20px rgba(131, 106, 212, 0.3);
    transition: box-shadow 0.2s ease;
}

header .purple-button {
    box-shadow: none;
}

.purple-button:hover {
    box-shadow: 0px 15px 25px rgba(131, 106, 212, 0.4);
}

.butpurple-buttonton:active {
    box-shadow: 0px 8px 16px rgba(131, 106, 212, 0.2);
}

.intro {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 19.5px;
    position: relative;
    overflow: hidden;
}

.intro-vector {
    width: calc(100% + 100px);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.intro img {
    position: relative;
    z-index: 1;
}

.intro h2 {
    font-size: 36px;
    text-align: center;
    background: linear-gradient(90deg, #979A9C 0%, #2F2F2F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text {
    position: relative;
    z-index: 1;
    width: 585px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
    gap: 35px;
}


.title {
    font-size: 40px;
    color: rgba(48, 48, 48, 1);
}

.with-us {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.with-us_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 323px;
    align-items: center;
    gap: 44px;
}

.with-us_item {
    width: 100%;
    height: 100%;
    padding: 35px 50px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #836AD4 0%, #7258C6 100%);
    border-radius: 24px;
    box-shadow: 0px 10px 20px rgba(131, 106, 212, 0.4);

}

.with-us img {
    width: 170px;
    object-fit: cover;
}

.with-us .with-us_item:nth-of-type(2) img {
    height: 214px;
}

.with-us .with-us_item:nth-of-type(3) img {
    margin-top: 10px;
    width: 164px;
    height: 160px;
}


.with-us_item div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.with-us h3 {
    font-size: 28px;
    text-align: center;
    color: #fff;
}

.with-us p {
    font-weight: 510;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

.multiple-topUp {
    position: relative;
    overflow: hidden;
}

.multiple-topUp .section {
    display: grid;
    grid-template-columns: 1fr 427px;
    align-items: center;
    z-index: 1;
    position: relative;
}

.multiple-vector {
    position: absolute;
    width: 1439.9999952187954px;
    height: 454.9999984892722px;
    top: 0;
    left: -300px;
}

.multiple-left {
    width: 100%;
}

.multiple-left img {
    max-width: 100%;
}

.multiple-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.multiple-right span {
    font-weight: 510;
    font-size: 16px;
    color: rgba(48, 48, 48, 1);
}

.multiple-right p {
    font-weight: 510;
    font-size: 20px;
    color: rgba(48, 48, 48, 1);
}

.multiple-right>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 12px;
    margin-bottom: 16px;
}

.multiple-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.benefits {
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.benefit-block {
    display: flex;
    gap: 36px;
}

.benefit-item {
    width: 176px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.benefits p {
    font-weight: 510;
    font-size: 16px;
    text-align: center;
    color: rgba(48, 48, 48, 1);
}

.benefit-cont {
    width: 100%;
    height: 176px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 20px rgba(131, 106, 212, 0.4);
    background: linear-gradient(180deg, #836AD4 0%, #7258C6 100%);
    border-radius: 24px;
}

.business-solution {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.business-solution__block {
    display: flex;
    align-items: center;
    gap: 80px;
}

.business-solution .purple-button {
    font-size: 16px;
    padding: 14px 20px;
    margin-bottom: 16px;
}

.business-solution p {
    font-weight: 510;
    font-size: 20px;
    color: rgba(48, 48, 48, 1);
}

.business-solution span {
    font-weight: 590;
}

.business-item {
    display: flex;
    gap: 20px;
    align-items: center;
}

.business-left {
    max-width: 553px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.business-right {
    overflow: hidden;
    position: relative;
}

.business-right img {
    z-index: 1;
    position: relative;
}

.business-right .bsr-bg {
    position: absolute;
    left: 150px;
    z-index: 0;
}

.contact {
    padding: 50px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.contact-block {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contact-left {
    border-radius: 24px;
    background: linear-gradient(180deg, #F9F7FF 0%, rgba(249, 247, 255, 0.4) 100%);
    padding: 28px 36px;
    padding-bottom: 22px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact h3 {
    font-weight: 510;
    font-size: 24px;
    color: rgba(49, 48, 59, 1);
}

form {
    display: flex;
    align-items: center;

    flex-direction: column;
    gap: 21px;
}

.form-block {
    display: flex;
    gap: 21px;
    align-items: center;
}

.form-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

form input {
    width: 349px;
    padding: 13px 14px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(49, 48, 59, 1);
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 3px 6px 0px rgba(29, 0, 97, 0.09);

}

form input::placeholder {
    font-weight: 400;
    color: rgba(49, 48, 59, 0.4);
    font-size: 16px;
}

form textarea {
    width: 350px;
    height: 159px;
    padding: 13px 14px;
    resize: none;
    color: rgba(49, 48, 59, 0.4);
    font-size: 16px;
    font-weight: 400;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 3px 6px 0px rgba(29, 0, 97, 0.09);

}

form textarea::placeholder {
    font-weight: 400;
    color: rgba(49, 48, 59, 0.4);
    font-size: 16px;
}

.contact-right {
    border-radius: 24px;
    background: linear-gradient(180deg, #EFE9FF 0%, rgba(239, 233, 255, 0.4) 100%);
    width: 408px;
    height: 323px;
    padding: 32px 0 36px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.contact-mail__bottom {
    padding: 10.5px 11px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 3px 6px 0px rgba(29, 0, 97, 0.06);
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.contact-mail__bottom a {
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: Auto;
    text-decoration-thickness: Auto;
    text-decoration-skip-ink: auto;
    color: rgba(49, 48, 59, 1);
    margin-right: 10px;
}

footer {
    display: flex;
    flex-direction: column;
}

.footer-top {
    padding: 40px 80px;
    display: flex;
    align-items: center;
    gap: 243px;
    background-color: rgba(241, 241, 247, 1);
}

footer nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
}

footer nav a {
    color: rgba(48, 48, 48, 1);
    font-weight: 510;
    font-size: 16px;
    text-decoration: none;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 20px 186px;
    background-color: rgba(225, 225, 237, 1);
}

.footer-bottom p,
.footer-bottom a {
    font-weight: 274;
    font-size: 12px;
    text-align: center;
    color: rgba(76, 72, 110, 1);
}

.footer-bottom div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.multiple-title {
    display: none;
}

.block-location {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 100px;
}

.block-location a {
    color: rgba(48, 48, 48, 1);
    text-decoration: none;
    font-size: 12px;
}

.block-location span {
    color: rgba(48, 48, 48, 0.4);
    font-size: 12px;
}

.policy {
    padding: 20px 100px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.policy h2 {
    color: rgba(114, 88, 198, 1);
    font-weight: 590;
    font-size: 52px;
}

.policy h3 {
    color: rgba(48, 48, 48, 1);
    font-size: 40px;
    font-weight: 590;
}

.policy div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.policy p {
    color: rgba(48, 48, 48, 1);
    font-size: 16px;
    font-weight: 274;
}

.policy p span {
    font-weight: 590;
}

.policy ul {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}


.wavy {
    animation-name: wavy;
    animation-duration: 1.3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    position: relative;
    top: 0;
    left: 0;
}

@keyframes wavy {
    0% {
        top: 0px;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0px;
    }
}


.modalReg {
    background: rgba(7, 0, 33, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    padding: 10px;
    z-index: 111111111111111111;
}

.modalRegActive {
    display: flex;
}

.modalReg-content {
    position: relative;
    width: 394px;
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    border-radius: 16px;
    background: #fff;
    max-height: 90vh;
    /* Limit the height to 90% of the viewport */
    overflow-y: auto;
}

.modalReg-content::-webkit-scrollbar {
    width: 6px;
    /* Thinner scrollbar */
    background: #f1f1f1;
    /* Light background for the scrollbar */
}

.modalReg-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* Rounded corners */
    background: linear-gradient(180deg, #8e44ad, #9b59b6);
    /* Gradient from purple to pink */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    /* Subtle shadow to make it pop */
}

.modalReg-content::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #9b59b6, #8e44ad);
    /* Reversed gradient on hover */
    transition: background 0.3s ease;
    /* Smooth transition on hover */
}

.modalReg-content::-webkit-scrollbar-track {
    border-radius: 10px;
    /* Rounded corners for the track */
    background: #e0e0e0;
    /* Slightly darker background for the track */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    /* Subtle inset shadow */
}



.modalReg h3 {
    font-size: 14px;
    color: rgba(48, 48, 48, 1);
}

.modalReg-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.modalReg-form__inps {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modalReg p {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}

.modalReg p a {
    text-decoration: none;
    color: rgba(115, 89, 199, 1);
    cursor: pointer;
}

.modalReg input {
    width: 100%;
    box-shadow: none;
    background: rgba(246, 245, 251, 1);
    padding: 13px 14px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(49, 48, 59, 1);
}

.modalReg-form__check {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.captha {
    display: flex;
    align-items: center;
}

.modalReg-form__check input {
    width: 24px;
    height: 24px;
}

.modalReg-form__check label {
    font-size: 14px;
    font-weight: 400;
    color: rgba(48, 48, 48, 1);
}

.modalReg input::placeholder {
    color: rgba(49, 48, 59, 0.4);
}

.modalReg-close {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    top: 8px;
    right: 8px;
    transition: .3s;
}

.modalReg-close:hover {
    background: rgba(0, 0, 0, 0.09);
}


.modallogin-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modallogin-bottom a {
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    color: rgba(118, 92, 201, 1);
}

@media screen and (max-width: 1270px) {

    .section,
    .intro {
        width: 332px;
        margin: auto;
    }


    .block-location {
        margin-left: 0;
        width: 336px;
        margin: auto;
    }

    .policy {
        width: 336px;
        margin: auto;
        gap: 16px;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 64px;
    }

    .policy h2 {
        font-size: 32px;
    }

    .policy h3 {
        font-size: 28px;
    }

    .policy p {
        font-size: 14px;
    }

    .policy div {
        gap: 10px;
    }

    .intro-text {
        width: 100%;
    }

    header h2 {
        display: none;
    }

    .login-buttons {
        gap: 20px;
    }

    .login-buttons button {
        font-size: 16px;
    }

    .intro h2 {
        font-size: 28px;
    }

    .purple-button {
        font-size: 16px;
    }

    .intro-text .purple-button {
        width: 280px;
        height: 46px;
    }

    .intro>img {
        width: 100%;
    }

    .title {
        font-size: 24px;
    }

    .with-us_block {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .with-us {
        gap: 22px;
    }

    .with-us h2 {
        text-align: center;
    }

    .multiple-topUp {
        display: flex;
        flex-direction: column;
    }

    .multiple-topUp .section {
        grid-template-columns: 1fr;
    }

    .multiple-topUp .purple-button {
        width: 280px;
        margin: auto;
    }

    .benefit-block {
        display: grid;
        grid-template-columns: 160px 160px;
        gap: 12px;
        row-gap: 20px;
    }

    .business-solution__block {
        flex-direction: column-reverse;
    }

    .business-left {
        max-width: 100%;
    }

    .business-solution__block {
        width: 100%;
    }

    .business-right img:first-of-type {
        width: 100%;
    }

    .business-solution .purple-button {
        width: 100%;
    }

    .business-solution p {
        font-size: 18px;
    }

    .contact-block {
        flex-direction: column;
        gap: 20px;
    }


    .contact-left {
        padding: 20px;
    }

    .contact h3 {
        font-size: 20px;
    }

    .form-block {
        width: 100%;
        flex-direction: column;
    }

    .form-left {
        width: 100%;
    }

    .contact-right {
        width: 100%;
    }

    form input,
    form textarea {
        width: 100%;
    }

    .contact .purple-button {
        width: 100%;
    }

    .footer-top {
        flex-direction: column;
        gap: 28px;
        padding: 28px 12px;
    }

    .footer-top svg {
        width: 51px;
        height: 56px;
    }

    footer nav a {
        font-size: 13px;
    }

    footer nav ul {
        gap: 20px;
    }

    .footer-bottom>p {
        font-size: 10px;
    }

    .footer-bottom {
        padding: 16px 12px;
    }

    .benefit-cont {
        height: 160px;
    }

    .benefit-cont img {
        max-width: 100%;
    }

    .benefit-item {
        width: 100%;
    }

    .multiple-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .multiple-title span {
        text-align: center;
        font-size: 14px;
        color: rgba(48, 48, 48, 1);
        margin-top: 10px;
        font-weight: 510;
    }

    .multiple-left {
        display: flex;
        flex-direction: column;
        gap: 28px;
        align-items: center;
        justify-content: center;
    }

    .multiple-right .title,
    .multiple-right>span {
        display: none;
    }

    .multiple-vector {
        width: 958px;
        height: 303px;
        left: -400px;
    }
}